* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

#count_el {
    font-size: 48px;
    color: #151212;
    margin-bottom: 20px;
}

#save-btn {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #0573f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

#increment-btn{
    padding: 12px 24px;
    font-size: 16px;
    background-color: #c51d1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

#increment-btn:hover {
    background-color: #2980b9;
}
#save-btn:hover {
    background-color: #1a6ca3;
}


